<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Time Sheet APP</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" >
      </ul>

      <form class="navbar-form navbar-right" *ngIf="!loggedIn()">
        <a href="https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=2ae1871d-7e2d-4961-b780-762d544cb753&scope=User.Read+Tasks.ReadWrite.Shared+Tasks.ReadWrite+Tasks.Read.Shared+Tasks.Read+Sites.ReadWrite.All+Sites.Read.All&redirect_uri=http://localhost:4200/callback&response_type=code" class="btn btn-success">Sign in with   <i class="fa fa-windows"></i></a>
      </form>

      <ul *ngIf="loggedIn()" class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown>
          <a  class="btn btn-danger" (click)="logout()" dropdownToggle>Logout</a>
        </li>
      </ul>

    </div><!--/.navbar-collapse -->
  </div>
</nav>
