
<div *ngIf="loggedIn()" class="container">
  <div class="row">
    <div class="col-lg-2">
      <app-list></app-list>
    </div>
    <div class="col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

